body {
  margin: 0;
  padding: 0;
}


#app {
  position: relative;
  min-width: 1200px;
}


ul {
  width: 50%;
  min-width: 500px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0;
}

li {
  background-color: grey;
  margin-bottom: 15px;
}

.settings-form {
  background-color: lightgrey;
  padding-left: 10px;
  padding-bottom: 10px;
}


.adding-form {
  width: 250px;
  background-color: lightgrey;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}


button {
  float: right;
  margin: 10px;
}


p {
  margin: 10px;
  display: inline-block;
}

input {
  margin: 10px;
}

